awsebcli==3.8.3
beautifulsoup4==4.5.1
blessed==1.9.5
botocore==1.4.64
bs4==0.0.1
cement==2.8.2
certifi==2016.9.26
click==6.6
colorama==0.3.7
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
Flask==0.11.1
Flask-SQLAlchemy==2.1
html2text==2016.9.19
html5lib==0.999999999
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
lxml==3.6.4
MarkupSafe==0.23
pathspec==0.3.4
pbr==1.10.0
psycopg2==2.6.2
pycurl==7.43.0
python-dateutil==2.5.3
PyYAML==3.12
requests==2.9.1
semantic-version==2.5.0
six==1.10.0
SQLAlchemy==1.1.2
stevedore==1.17.1
texttable==0.8.5
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
webencodings==0.5
websocket-client==0.37.0
Werkzeug==0.11.11
wikipedia==1.4.0
wptools==0.1.8