<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../static/style/eventtemplate.css" media="screen">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="{{ url_for('index') }}">Home</a></li>
      <li role="presentation"><a href="{{ url_for('parks') }}">Parks</a></li>
      <li role="presentation"><a href="../campgrounds.html">Campgrounds</a></li>
      <li role="presentation"><a href="{{ url_for('states') }}">States</a></li>
      <li role="presentation" class="active"><a href="{{ url_for('events') }}">Events</a></li>  
      <li role="presentation"><a href="../about.html">About</a></li>      
    </ul>
       
    <div class="title">
      <h1>RunForTheHungry</h1>
    </div>


    <div class="row">
      <div class="col-md-2">
      </div>              
      <div class="col-md-8">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../assets/eventPicture.jpg" alt="Card image cap">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Category: Races</li>
            <li class="list-group-item">Start Date: 2013-11-28</li>
            <li class="list-group-item">Email: mark@purefitness.cc</li>
            <li class="list-group-item">State: <a href="{{ url_for('texas') }}">TX</a></li>
            <li class="list-group-item">Park: <a href="{{ url_for('bigBend') }}">Big Bend</a></li>
          </ul>
        </div>        
      </div> <!-- end col-md-4 -->

      <!-- <div class="col-md-4"> 
        <row>
          <div class="card card-block">
            <h4 class="card-title">Upcoming Events</h4>
            <br>
            <div class = "row">
              <div class = "col-md-4">
                <a href="#" class="card-link">Name</a>
              </div>
              
              <div class = "col-md-4">
                <a href="#" class="card-link">Category</a>
              </div>

              <div class = "col-md-4">
                <a href="#" class="card-link">Start Date</a>
              </div>
            </div> <!-- end class row -->

            <!-- <hr>

            <div class = "row">
              <div class = "col-md-4">
                <a href="#" class="card-link">Name</a>
              </div>
              
              <div class = "col-md-4">
                <a href="#" class="card-link">Category</a>
              </div>

              <div class = "col-md-4">
                <a href="#" class="card-link">Start Date</a>
              </div>
            </div> <!-- end class row -->

            <!-- <hr>

            <div class = "row">
              <div class = "col-md-4">
                <a href="#" class="card-link">Name</a>
              </div>
              
              <div class = "col-md-4">
                <a href="#" class="card-link">Category</a>
              </div>

              <div class = "col-md-4">
                <a href="#" class="card-link">Start Date</a>
              </div>
            </div> <!-- end class row -->
          <!-- </div> <!-- end class card card-block -->
        <!-- </row>

        <row>
          <div class="card">
            <br>
            <a href="#" class="card-link" id ="bigBendLink">Explore Big Bend</a>
            <br>
            <img class="card-img-top img-fluid" src="../../assets/bigbend.jpg" alt="Card image cap">
            <div class="card-block">
              <p class="card-text">Some information about Big Bend National Park that I'm not exactly sure where we're going to get the info from because I don't know that much about all of the API's. </p>
            </div>
          </div>
        </row>  
      </div>  --><!-- end col-md-4 -->
    <!-- </div>  --> <!-- end class row -->
  </body>
</html>