* {
  box-sizing: border-box; }

html{
  height: 100vh;
  padding:0;
  margin:0;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #57BC90;
  height:100vh; 
}

 a{
    color: #01524B;
 }   

.page-header {
  padding:0;
  margin:0;
  padding-bottom: 0;
   }

.main-content {
  margin:0;
  padding: 0;
}   

.nav.nav-pills {
  background-color: white;
}


.nav.nav-pills .active a
{
  background-color: #01524B;
}



 /*img {
    display:block;
    margin: auto;
}*/

.col-lg-12{
  margin: 0;
  padding: 0;
}

#myCarousel{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  vertical-align: middle;
  height:50vh;
}

.carousel{
  margin-left: 300px;
  width:50vw;
  height: 40vh;
}

.carousel,.item,.active{
  margin:0;
  padding:0;
  height:100%;
}

.carousel-inner{
  margin:0;
  padding: 0;
  height:100%;
}
img{
  padding:0;
  margin-top:0;
  margin-right: 0;
  margin-left:auto;
  margin-right: auto;

}


#text-container{
  width:50vw;
  margin-left:auto;
  margin-right:auto;

}

#text-container p{
  color:#01524B;
  font-size: 3em;
}


.filler{
  height:10vh;
}


.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }
