* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  padding-bottom: 0;
   }

.nav.nav-pills {
  padding: 1.5em;
}


.main-content {
  padding: 0;
}


.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

 img {
    display:block;
    margin: auto;
}

.carousel.item a img{

  width:100%;
  margin: auto;

}

.carousel{
  width:100vw;
  height: 80vh;
}

.container{
  margin: 0;
  padding: 0;
}


