<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors by kethomas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">-->
  </head>
  <body>
    <section class="page-header">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="index.html">Sweet Outdoors</a></li>
        <li role="presentation"><a href="parks.html">Parks</a></li>
        <li role="presentation" class="active"><a href="campgrounds.html">Campgrounds</a></li>
        <li role="presentation"><a href="states.html">States</a></li>
        <li role="presentation"><a href="activities.html">Activities</a></li>        
      </ul>
      
    </section>

    <section class="main-content">
      <h3>


      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/kethomas/SWEet-Outdoors">SWEet Outdoors</a> is maintained by <a href="https://github.com/kethomas">kethomas</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
