<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  
    <body background="../assets/colorado_transparent.jpg">

      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="index.html">Sweet Outdoors</a></li>
        <li role="presentation"><a href="parks.html">Parks</a></li>
        <li role="presentation"><a href="campgrounds.html">Campgrounds</a></li>
        <li role="presentation"><a href="states.html">States</a></li>
        <li role="presentation"><a href="activities.html">Activities</a></li>        
      </ul>
      <div class="col-lg-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="carousel-caption">
                <h1>Explore beautiful nature and national parks</h1>
                <p>hello this is Patrick</p>
              </div>
            </div>
            <div class="item">
              <div class="carousel-caption">
                <h1>Camp across the United States</h1>
                <p>hello this is Patrick</p>
              </div>
            </div>
            <div class="item">
              <div class="carousel-caption">
                <h1>Get active</h1>
                <p>hello this is Patrick</p>
              </div>
            </div>
          </div> <!-- end of carousel-inner -->
        </div> <!-- end of myCarousel -->
      </div> <!-- end of outer col-lg-12 -->
    </body>
  
</html>
