<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/parks.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="../index.html">Home</a></li>
      <li role="presentation" class="active"><a href="parks.html">Parks</a></li>
      <li role="presentation"><a href="campgrounds.html">Campgrounds</a></li>
      <li role="presentation"><a href="states.html">States</a></li>
      <li role="presentation"><a href="events.html">Events</a></li> 
      <li role="presentation"><a href="about.html">About</a></li>         
    </ul>

    <div class = "col-md-12">
      <div class="title">
        <h1>Parks</h1>
      </div> <!-- end of title -->
    </div> 

    <div class="table" data-example-id="simple-responsive-table"
      <div class ="table-responsive">
        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Park</th>
              <th>Price</th>
              <th>Hours</th>
              <th>Website</th>
              <th>Events</th>
              <th>Campground</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Zilker Metropolitan Park</th>
              <td>$0</td>
              <td>5am - 10pm</td>
              <td>
                <a href = "http://austintexas.gov/department/zilker-metropolitan-park">http://austintexas.gov/department/zilker-metropolitan-park</a>
              </td>
              <td>
                <ul>
                  <li>Trail of Lights</li>
                  <li>Austin City Limits</li>
                </ul>
              </td>
              <td>No camping</td>
            </tr>
            <tr>
              <th scope="row">Barton Springs Pool</th>
              <td>$0</td>
              <td>5am - 10pm</td>
              <td>
                <a href="https://austintexas.gov/department/barton-springs-pool">https://austintexas.gov/department/barton-springs-pool</a>
              </td>
              <td>Full Moon Party</td>
              <td>No camping</td>
            </tr>
            <tr>
              <th scope="row">Big Bend National Park</th>
              <td>$12</td>
              <td>All Day</td>
              <td>
                <a href="https://www.nps.gov/bibe/index.htm">https://www.nps.gov/bibe/index.htm</a>
              </td>
              <td>Our International Neighbors</td>
              <td>
                <ul>
                  <li>Chisos Basin Campground</li>
                  <li>Cottonwood Campground</li>
                  <li>Rio Grand Village Campground</li>
                  <li>Chisos Mountains Lodge</li>
                </ul>
              </td>
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>
