<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/states.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="../index.html">Home</a></li>
      <li role="presentation"><a href="parks.html">Parks</a></li>
      <li role="presentation"><a href="campgrounds.html">Campgrounds</a></li>
      <li role="presentation" class="active"><a href="states.html">States</a></li>
      <li role="presentation"><a href="events.html">Events</a></li> 
      <li role="presentation"><a href="about.html">About</a></li>         
    </ul>

    <div class = "col-md-12">
      <div class="title">
        <h1>States</h1>
      </div> <!-- end of title -->
    </div> 

    <div class="table" data-example-id="simple-responsive-table"
      <div class ="table-responsive">
        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>State</th>
              <th>Number of Parks</th>
              <th>Largest Park</th>
              <th>Most Recent Event</th>
              <th>Highest Point</th>
              <th>Lowest Point</th>
              <th>Population</th>
              <th>Capital</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Texas</th>
              <td>50</td>
              <td>Zilker Metropolitan Park</td>
              <td>Trail of Lights</td>
              <td>Mt. Bonnel</td>
              <td>Gulf of Mexico</td>
              <td>1,000,000</td>
              <td>Austin</td>
            </tr>
            <tr>
              <th scope="row">Florida</th>
              <td>50</td>
              <td>Zilker Metropolitan Park</td>
              <td>Trail of Lights</td>
              <td>Mt. Bonnel</td>
              <td>Gulf of Mexico</td>
              <td>1,000,000</td>
              <td>Austin</td>
            </tr>
            <tr>
              <th scope="row">California</th>
              <td>50</td>
              <td>Zilker Metropolitan Park</td>
              <td>Trail of Lights</td>
              <td>Mt. Bonnel</td>
              <td>Gulf of Mexico</td>
              <td>1,000,000</td>
              <td>Austin</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>
