/* 
  ------------------------
  GENERAL 
  ------------------------
*/

html, body {
  	height: 100%;
  	padding: 0;
  	margin: auto;
  	overflow: auto;
 
 }   

body {
	background-image: url("https://github.com/kethomas/SWEetOutdoors-dev/blob/master/app/static/img/camping.jpg?raw=true")
}
.row {
	margin-right: 0;
	margin-left: 0;
}

#details {
	height: 100%;
	margin-right: auto;
 	background-size: cover;
}

p {
	word-wrap: break-word;
}
/* 
  ------------------------
  TITLE AND NAV BAR 
  ------------------------
*/

.title h1 {
	margin-top: 1em;
	font-size: 3em;
	margin-bottom: .5em;
}

.title h1 span {
	background-color: white;
}

button.btn.btn-default {
	height: 34px;
}
/* 
  ------------------------
  PARK INFO 
  ------------------------
*/

.img-fluid {
	display: block;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	height: auto;
}

h4 {
	text-align: center;
}

.card {
	margin-top: 1em;
	margin-bottom: 2.5em;
}

.card-link a {
	margin-left: auto;
	margin-right: auto;	

}

.col-md-4,.card-link {
	text-align: center;
}

.list-group-item {
	font-size: 15px;
}


