/* 
  ------------------------
  TABLES 
  ------------------------
*/ 
.col-md-12 {
	padding: 0;
	margin: 0;
}

.title {
	padding: 0;
	margin: 0;
}

.table-responsive {
	margin-left: 2em;
	margin-right: 2em;
}

th.header { 
    background-image: url(../img/bothArrows.svg); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: right; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}

th.headerSortDown { 
    background-image: url(../img/downArrow.svg); 
    background-color: #95afd0; 
} 

th.headerSortUp { 
    background-image: url(../img/upArrow.svg); 
    background-color: #95afd0; 
} 