<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/stateInstanceTemplates/texas.css" media="screen">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="{{ url_for('index') }}">Home</a></li>
      <li role="presentation"><a href="../parks.html">Parks</a></li>
      <li role="presentation"><a href="../campgrounds.html">Campgrounds</a></li>
      <li role="presentation" class="active"><a href="../states.html">States</a></li>
      <li role="presentation"><a href="../events.html">Events</a></li>  
      <li role="presentation"><a href="../about.html">About</a></li>      
    </ul>
       
    <div class="title">
      <h1>Texas</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>              
      <div class="col-md-4">
        
        <div class="card">
          <img class="card-img-top img-fluid" src="../../assets/texasMap.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Texas</h4>
            <p class="card-text">Texas is the second largest state in the United States by both area and population. Geographically located in the south central part of the country, Texas shares borders with the other US states of Louisiana to the east, Arkansas to the northeast, Oklahoma to the north, New Mexico to the west, and the Mexican states of Chihuahua, Coahuila, Nuevo León, and Tamaulipas to the southwest, while the Gulf of Mexico is to the southeast.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Area: 268581 sq mi</li>
            <li class="list-group-item">Population: 27,469,114</li>
            <li class="list-group-item">Elevation: 8,751 ft</li>
          </ul>
        </div>        
        
        <!-- <img src="../../assets/texasMap.jpg" class="img-fluid"></img> -->
      
      </div> 

      <div class="col-md-4"> 
        
        <!-- <row>
          <div class="title">
            <h1>Texas</h1>
          </div> 
        </row>   -->         


        <row>
          <div class="card card-block">
            <h4 class="card-title">Upcoming Events</h4>
            <br>
            <div class = "row">
              <div class = "col-md-4">
                <a href="#" class="card-link">Name</a>
              </div>
              
              <div class = "col-md-4">
                <a href="#" class="card-link">Category</a>
              </div>

              <div class = "col-md-4">
                <a href="#" class="card-link">Start Date</a>
              </div>
            </div>
          <hr>
            <div class = "row">
              <div class = "col-md-4">
                <a href="#" class="card-link">Name</a>
              </div>
              
              <div class = "col-md-4">
                <a href="#" class="card-link">Category</a>
              </div>

              <div class = "col-md-4">
                <a href="#" class="card-link">Start Date</a>
              </div>
            </div>
          <hr>
            <div class = "row">
              <div class = "col-md-4">
                <a href="#" class="card-link">Name</a>
              </div>
              
              <div class = "col-md-4">
                <a href="#" class="card-link">Category</a>
              </div>

              <div class = "col-md-4">
                <a href="#" class="card-link">Start Date</a>
              </div>
            </div>
          </div>
        </row>
        

        <row>
        <div class="card">
          <br>
          <a href="#" class="card-link" id ="bigBendLink">Explore Big Bend</a>
          <br>
          <img class="card-img-top img-fluid" src="../../assets/bigbend.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="card-text">Some information about Big Bend National Park that I'm not exactly sure where we're going to get the info from because I don't know that much about all of the API's. </p>
          </div>
        </div>
        </row>            
      

      </div> <!-- end of col-md-4--!>

      <div class="col-md-3"></div>
      
      <!-- <div class="col-md-4">  -->
      <!-- </div> -->

    </div> 
    
      
      <!-- <div class="col-md-4"> -->
      <!-- </div> -->
    
    </div>

  </body>
</html>