<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../static/style/statetemplate.css" media="screen">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="{{ url_for('index') }}">Home</a></li>
      <li role="presentation"><a href="../parks.html">Parks</a></li>
      <li role="presentation"><a href="../campgrounds.html">Campgrounds</a></li>
      <li role="presentation" class="active"><a href="../states.html">States</a></li>
      <li role="presentation"><a href="../events.html">Events</a></li>  
      <li role="presentation"><a href="../about.html">About</a></li>      
    </ul>
       
    <div class="title">
      <h1>Florida</h1>
    </div>


    <div class="row">
      <div class="col-md-2">
      </div>              
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../static/img/texasMap.jpg" alt="Card image cap">
          <div class="card-block">
            <p class="card-text">Florida (Spanish for "land of flowers") is a state located in the southeastern region of the United States. The state is bordered to the west by the Gulf of Mexico, to the north by Alabama and Georgia, to the east by the Atlantic Ocean, and to the south by the Straits of Florida and Cuba. Florida is the 22nd most extensive, the 3rd most populous,[8] and the 8th most densely populated of the United States. Jacksonville is the most populous city in Florida, and the largest city by area in the contiguous United States. The Miami metropolitan area is the eighth-largest metropolitan area in the United States. Tallahassee is the state capital.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Area: 65,755 sq mi</li>
            <li class="list-group-item">Population: 20,271,272</li>
            <li class="list-group-item">Highest Point: 345 ft</li>
          </ul>
        </div>        
      </div> <!-- end col-md-4 -->

      <div class="col-md-4"> 
        <row>
          <div class="card card-block">
            <h4 class="card-title">Upcoming Events</h4>
            <br>
            <div class = "row">
              <div class = "col-md-4">
                <a href="../eventInstances/EventTemplate.html" class="card-link">RunForTheHungry</a>
              </div>
              
              <div class = "col-md-4">
                <a href="../eventInstances/EventTemplate.html" class="card-link">Races</a>
              </div>

              <div class = "col-md-4">
                <a href="../eventInstances/EventTemplate.html" class="card-link">2013-11-28</a>
              </div>
            </div> <!-- end class row -->

            <hr>

            <div class = "row">
              <div class = "col-md-4">
                <a href="#" class="card-link">Name</a>
              </div>
              
              <div class = "col-md-4">
                <a href="#" class="card-link">Category</a>
              </div>

              <div class = "col-md-4">
                <a href="#" class="card-link">Start Date</a>
              </div>
            </div> <!-- end class row -->

            <hr>

            <div class = "row">
              <div class = "col-md-4">
                <a href="#" class="card-link">Name</a>
              </div>
              
              <div class = "col-md-4">
                <a href="#" class="card-link">Category</a>
              </div>

              <div class = "col-md-4">
                <a href="#" class="card-link">Start Date</a>
              </div>
            </div> <!-- end class row -->
          </div> <!-- end class card card-block -->
        </row>

        <row>
          <div class="card">
            <br>
            <a href="../parkInstances/BigBend.html" class="card-link" id ="bigBendLink">Explore Big Bend</a>
            <br>
            <img class="card-img-top img-fluid" src="../../static/img/bigbend.jpg" alt="Card image cap">
            <div class="card-block">
              <p class="card-text">Some information about Big Bend National Park that I'm not exactly sure where we're going to get the info from because I don't know that much about all of the API's. </p>
            </div>
          </div>
        </row>  
      </div> <!-- end col-md-4 -->
    </div> <!-- end class row -->
  </body>
</html>