<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/style/about.css" media="screen">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>
  
  <body>
   <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
          <ul class="nav nav-pills">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('parks') }}">Parks</a></li>
            <li><a href="{{ url_for('campgrounds') }}">Campgrounds</a></li>
            <li><a href="{{ url_for('states') }}">States</a></li>
            <li><a href="{{ url_for('events') }}">Events</a></li> 
            <li class="active"><a href="{{ url_for('about') }}">About</a></li>

            <form class="navbar-form navbar-right" action="{{url_for('orSearch')}}" onsubmit="{{url_for('orSearch')}}" role="search">
              <div class="input-group">
                <input id="search_term" type="text" class="form-control" name="search" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class=" glyphicon glyphicon-search"></span></button>
                </span>
              </div><!-- /input-group -->
            </form> 
          </ul>
        </div>
      </div>
    </nav>

    <div id="row1" class="row">
      <div class="title">
        <h1 id="title1">Meet SWEet Outdoors</h1>
      </div> 
      <p id="description">Welcome to SWEetOutdoors! This site serves as a gateway to your wild side. It allows you to explore national and state parks all over the United States, get details about campgrounds, and learn about upcoming events. </p>
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-3">
            <img class="member" src="../static/img/Didi.jpeg" onmouseover="this.src='../static/img/Didi2.jpg'" onmouseout="this.src='../static/img/Didi.jpeg'">
            <h2>Didi Crous</h2>
            <p>I'm a senior computer science student. I like singing, tacos and spending time outside when I'm not coding. I am currently looking forward to graduating so that I can spend a few months running around Europe.</p>
            <p><strong>Front end</strong></p>
            <p><strong>Commits:</strong> 41</p>
            <p><strong>Issues:</strong> 1</p>
            <p><strong>Unit tests:</strong> 0</p>
          </div>
          <div class="col-lg-3">
            <img class="member"  src="../static/img/Ali.jpg">
            <h2>Ali Darwiche</h2>
            <p>I'm a senior double majoring in computer science and business, and want to be a technical project manager after graduation. I can hit a C7 vocally.</p>
            <p><strong>Back end</strong></p>
            <p><strong>Commits:</strong> 21</p>
            <p><strong>Issues:</strong> 0</p>
            <p><strong>Unit tests:</strong> 0</p>
          </div>
          <div class="col-lg-3">
            <img class="member"  src="../static/img/Elizabeth.jpg" onmouseover="this.src='../static/img/Elizabeth2.png'" onmouseout="this.src='../static/img/Elizabeth.jpg'">
            <h2>Elizabeth Haynes</h2>
            <p>I'm a junior computer science student. I'm the head of the WiCS Makers Club, and I'm currently interning for Hewlett Packard Enterprise. I enjoy crafting, specifically crochet. </p>
            <p><strong>Front end</strong></p>
            <p><strong>Commits:</strong> 39</p>
            <p><strong>Issues:</strong> 25</p>
            <p><strong>Unit tests:</strong> 0</p>
          </div>
          <div class="col-lg-3">
            <img class="member" src="../static/img/Asad.jpg" onmouseover="this.src='../static/img/Asad2.jpeg'" onmouseout="this.src='../static/img/Asad.jpg'">
            <h2>Asad Mahdi</h2>
            <p>I'm a senior computer science student. I like gaming, NBA, Netflix - basically not being physically active.</p>
            <p><strong>Back end</strong></p>
            <p><strong>Commits:</strong> 26</p>
            <p><strong>Issues:</strong> 0</p>
            <p><strong>Unit tests:</strong> 1</p>
          </div>
        </div>
      </div>
    </div>
    
    <div id="row2" class="row">
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img class="member" src="../static/img/Matthew.jpeg" onmouseover="this.src='../static/img/Matthew2.jpg'" onmouseout="this.src='../static/img/Matthew.jpeg'">
            <h2>Matthew Rosenbaum</h2>
            <p>I'm a junior computer science student. I like Android development, and I currently work part time. I'm involved with
            Ignite, a Christian camp for freshman students.</p>
            <p><strong>Front end</strong></p>
            <p><strong>Commits:</strong> 23</p>
            <p><strong>Issues:</strong> 2</p>
            <p><strong>Unit tests:</strong> 0</p>
            <br>
          </div>
          <div class="col-lg-4">
            <img class="member"  src="../static/img/Kirsten.jpg" onmouseover="this.src='../static/img/Kirsten2.jpg'" onmouseout="this.src='../static/img/Kirsten.jpg'">
            <h2>Kirsten Thomas</h2>
            <p>I'm a junior computer science student. I'm interested in human computer interaction and usability, specifically for
            people with visual impairment. I volunteer with the Texas School for the Blind and Visually Impaired with my sorority,
            Delta Gamma, in a weekly coding club.</p>
            <p><strong>Front end</strong></p>
            <p><strong>Commits:</strong> 50</p>
            <p><strong>Issues:</strong> 19</p>
            <p><strong>Unit tests:</strong> 11</p>
          </div>          
          <div class="col-lg-4">
            <img class="member"  src="../static/img/Rambo.jpg" onmouseover="this.src='../static/img/Rambo2.jpg'" onmouseout="this.src='../static/img/Rambo.jpg'">
            <h2>Rambo Wu</h2>
            <p>I'm a senior computer science student. I like dogs and iced coffee.</p>
            <p><strong>Back end</strong></p>
            <p><strong>Commits:</strong> 96</p>
            <p><strong>Issues:</strong> 3</p>
            <p><strong>Unit tests:</strong> 0</p>
            <br>
          </div>
        </div>
      </div>
    </div>   

    <div id="row3" class="row">
      <div class="row">
        <div class="col-lg-4 stats"> 
          <div class="title">
            <h1>Stats</h1>
          </div>
          <p>No. of commits: 250</p>
          <p>No. of issues: 53</p>
          <p>No. of unit tests: 12</p>
          <p><a  class="stats_link" href ="https://app.apiary.io/sweetoutdoors/">Apiary API</a></p>
          <p><a class="stats_link" href="https://github.com/cs373gc-fall-2016/SWEetOutdoors/issues">GitHub Issue Tracker</a></p>
          <p><a class="stats_link" href="https://github.com/cs373gc-fall-2016/SWEetOutdoors">GitHub Repo</a></p>
          <p><a class="stats_link" href="https://github.com/cs373gc-fall-2016/SWEetOutdoors/wiki">GitHub Wiki</a></p> 
          <p><a class="stats_link" href="https://docs.google.com/presentation/d/12Tr6RWmc1_ml1OXPjh_Z3HktcQ34Av_ySb2g5LRxbs4/edit?usp=sharing">Class Presentation</a></p>                       
        </div>

        <div class="col-lg-4 stats">
          <div class="title">
            <h1>Data</h1>
          </div>
          <p><a class="stats_link" href ="https://developers.google.com/places/">Google Places</a>- used in conjunction with Wikipedia to get the information of state and national parks</p>
          <p><a class="stats_link" href ="http://developer.active.com/docs/v2_Activity_API_Search">Activity Search</a>- used to get all events data</p>
          <p><a class="stats_link" href ="https://usda.github.io/RIDB/">Campground Search</a>- used the Facilites object to get all our campground information</p>
          <p><a class="stats_link" href ="https://www.mediawiki.org/wiki/API:Main_page">MediaWiki</a>- used to get all information on states, and to get lists of state and national parks</p>
          <p><a class="stats_link" href ="https://msdn.microsoft.com/en-us/library/ff701715.aspx">Bing Locations</a>- used to get zipcode by latitude and longitude, needed in several models</p>
          <br>
          <p><a class="stats_link" href ="{{ url_for('visualization') }}">PartyPeople API Visualization</a></p>
       </div>

       <div class="col-lg-4 stats" id="tools">
          <div class="title">
            <h1>Tools</h1>
          </div>
          <p>Bootstrap: An HTML, CSS, and JavaScript framework used heavily to design and style all of the pages of the site.</p>
          <p>Flask: A Python web framework powering this web application.</p>   
          <p>Slack: A messaging application used for communication, with integration to our GitHub repositories.</p>
          <p>GitHub: A web-based git repository hosting service that hosts the repository for this project.</p>
          <p>Apiary: An API documentation tool.</p>
       </div>
      </div> <!-- end of row for info -->

      <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ url_for('tests') }}">Run Unit Tests</a></li>
      </ul>
      
      </div> 
    </div>
  </body>
</html>
