<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/style/about.css" media="screen">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>
  
  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="../index.html">Home</a></li>
      <li role="presentation"><a href="parks.html">Parks</a></li>
      <li role="presentation"><a href="campgrounds.html">Campgrounds</a></li>
      <li role="presentation"><a href="states.html">States</a></li>
      <li role="presentation"><a href="events.html">Events</a></li>  
      <li role="presentation" class="active"><a href="about.html">About</a></li>      
    </ul>

    <div id="row1" class="row">

    <div class="title">
      <h1>About SWEet Outdoors</h1>
    </div> 

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg">
          <h2>Didi Crous</h2>
          <p>I like running.</p>
          <p><b>Front end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
          </div>
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg">
          <h2>Ali Darwiche</h2>
          <p>I like working.</p>
          <p><b>Back end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg">
          <h2>Elizabeth Haynes</h2>
          <p>I like crafting.</p>
          <p><b>Front end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg">
          <h2>Asad Mahdi</h2>
          <p>I like nothing.</p>
          <p><b>Back end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
      </div>
    </div>



    <div id="row2" class="row">


    <div class="container marketing">
      <div class="row">
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg">
          <h2>Didi Crous</h2>
          <p>I like running.</p>
          <p><b>Front end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
          </div>
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg">
          <h2>Didi Crous</h2>
          <p>I like running.</p>
          <p><b>Front end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
          </div>          
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg">
          <h2>Ali Darwiche</h2>
          <p>I like working.</p>
          <p><b>Back end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg">
          <h2>Coffee</h2>
          <p>I like crafting.</p>
          <p><b>Front end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
    </div>    
      
    <!--<div class="title">
      <h1>About</h1>
    </div> 

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg" width="130" height="130">
          <h2>Didi Crous</h2>
          <p>I like running.</p>
          <p><b>Front end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg" width="130" height="130">
          <h2>Ali Darwiche</h2>
          <p>I like working.</p>
          <p><b>Back end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg" width="130" height="130">
          <h2>Elizabeth Haynes</h2>
          <p>I like crafting.</p>
          <p><b>Front end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
        <div class="col-lg-3">
          <img src="../static/img/montreal.jpg" width="130" height="130">
          <h2>Asad Mahdi</h2>
          <p>I like nothing.</p>
          <p><b>Back end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img src="../static/img/montreal.jpg" width="130" height="130">
          <h2>Matthew Rosenbaum</h2>
          <p>I like dad jokes.</p>
          <p><b>AWS Hosting</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
        <div class="col-lg-4">
          <img src="../static/img/montreal.jpg" width="130" height="130">
          <h2>Kirsten Thomas</h2>
          <p>I like dogs.</p>
          <p><b>Front end</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
        <div class="col-lg-4">
          <img src="../static/img/montreal.jpg" width="130" height="130">
          <h2>Rambo Wu</h2>
          <p>I like iced coffee.</p>
          <p><b>Data models</b></p>
          <p><b>Commits:</b> 6</p>
          <p><b>Issues:</b> 5</p>
          <p><b>Unit tests:</b> 0</p>
        </div>
      </div>
    </div>-->

  </body>
</html>
