<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/style/campgrounds.css" media="screen">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="{{ url_for('index') }}">Home</a></li>
      <li role="presentation"><a href="{{ url_for('parks') }}">Parks</a></li>
      <li role="presentation" class="active"><a href="{{ url_for('campgrounds') }}">Campgrounds</a></li>
      <li role="presentation"><a href="{{ url_for('states') }}">States</a></li>
      <li role="presentation"><a href="{{ url_for('events') }}">Events</a></li> 
      <li role="presentation"><a href="{{ url_for('events') }}">About</a></li>       
    </ul>

      <div class="title">
        <h1>Campgrounds</h1>
      </div> <!-- end of title -->

    <div class="row">
      <div class="col-md-1"></div>  
      <div class="col-md-10">
        <div class="table" data-example-id="simple-responsive-table"
          <div class ="table-responsive">
            <!-- Table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Campground</th>
                  <th>Electricity?</th>
                  <th>Sewer hookup?</th>
                  <th>Water availibility</th>
                  <th>Pet friendly?</th>
                  <th>Park</th>
                  <th>State</th>                                      
                                      
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row"><a href="{{ url_for('yosemiteCampground')}}">Yosemite Campground</th>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>No</td>
                  <td>Yes</td>
                  <th>
                    <a href="{{ url_for('bigBend')}}">BigBend</a>
                  </th>
                  <th>
                    <a href="{{ url_for('texas')}}">TX</a>
                  </th>                      
                </tr>
                
                <tr>
                  <th scope="row"><a href="{{ url_for('bearCreek')}}">Bear Creek</th>
                  <td>Yes</td>
                  <td>No</td>
                  <td>Yes</td>
                  <td>Yes</td>  
                  <th>
                    <a href="{{ url_for('zilker')}}">Zilker</a>
                  </th> 
                  <th>
                    <a href="{{ url_for('california')}}">CA</a>
                  </th>                                    
                </tr>
                
                <tr>
                  <th scope="row"><a href="{{ url_for('everglades')}}">Everglades Campground</th>
                  <td>Yes</td>
                  <td>No</td>
                  <td>No</td>
                  <td>Yes</td>
                  <th>
                    <a href="{{ url_for('deathValley')}}">Death Valley</a>
                  </th>      
                  <th>
                    <a href="{{ url_for('florida')}}">FL</a>
                  </th>                                  
                </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
