<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/style/campgrounds.css" media="screen">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="index.html">Home</a></li>
      <li role="presentation"><a href="parks.html">Parks</a></li>
      <li role="presentation" class="active"><a href="campgrounds.html">Campgrounds</a></li>
      <li role="presentation"><a href="states.html">States</a></li>
      <li role="presentation"><a href="events.html">Events</a></li>  
      <li role="presentation"><a href="about.html">About</a></li>        
    </ul>

      <div class="title">
        <h1>Campgrounds</h1>
      </div> <!-- end of title -->

    <div class="row">
      <div class="col-md-1"></div>  
      <div class="col-md-10">
        <div class="table" data-example-id="simple-responsive-table"
          <div class ="table-responsive">
            <!-- Table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Campground</th>
                  <th>Electricity?</th>
                  <th>Sewer hookup?</th>
                  <th>Water availibility</th>
                  <th>Pet friendly?</th>
                  <th>Park</th>
                  <th>State</th>                                      
                                      
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row"><a href="campgroundInstances/YosemiteCampground.html">Yosemite Campground</th>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>No</td>
                  <td>Yes</td>
                  <th>
                    <a href="parkInstances/BigBend.html">BigBend</a>
                  </th>
                  <th>
                    <a href="stateInstances/Texas.html">TX</a>
                  </th>                      
                </tr>
                
                <tr>
                  <th scope="row"><a href="campgroundInstances/BearCreek.html">Bear Creek</th>
                  <td>Yes</td>
                  <td>No</td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <th>
                    <a href="parkInstances/DeathValley.html">Death Valley</a>
                  </th>    
                  <th>
                    <a href="stateInstances/California.html">CA</a>
                  </th>                                    
                </tr>
                
                <tr>
                  <th scope="row"><a href="campgroundInstances/Everglades.html">Everglades Campground</th>
                  <td>Yes</td>
                  <td>No</td>
                  <td>No</td>
                  <td>Yes</td>
                  <th>
                    <a href="parkInstances/Zilker.html">Zilker</a>
                  </th>     
                   <th>
                    <a href="stateInstances/Florida.html">FL</a>
                  </th>                                  
                </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
