<!DOCTYPE html>
<html lang="en-us" ng-app>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../static/style/campgroundInstance.css" media="screen">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('parks') }}">Parks</a></li>
      <li class="active"><a href="{{ url_for('campgrounds') }}">Campgrounds</a></li>
      <li><a href="{{ url_for('states') }}">States</a></li>
      <li><a href="{{ url_for('events') }}">Events</a></li> 
      <li><a href="{{ url_for('about') }}">About</a></li>  

      <form class="navbar-form navbar-right" action="/search/" method="GET" onsubmit="return search()" role="search">
        <div class="input-group">
          <input id="search_term" type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class=" glyphicon glyphicon-search"></span></button>
          </span>
        </div><!-- /input-group -->
      </form>
    </ul>
       
    <div class="title">
      <h1><span>{{ campground_instance.name }}</span></h1>
    </div>

    <div class="row">
      <div class="col-md-2"></div>              
      <div class="col-md-4">
        <div class="card">
          <!-- <img class="card-img-top img-fluid" src="../../static/img/bearcreek.jpg" alt="Photo of campground"> -->
          <div class="card-block">
            <p class="card-text">{{ campground_instance.description|safe }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Directions: {{campground_instance.direction|safe }}</li>
            <li class="list-group-item">Phone: {{campground_instance.phone}}</li>
            <li class="list-group-item">Email: {{campground_instance.email}}</li>
            <li class="list-group-item">Zipcode: {{campground_instance.zipcode}} </li>
            <li class="list-group-item">State: <a href="{{ url_for('state_instance', name = campground_instance.state_fk) }}">{{campground_instance.state_fk}}</a></li>
          </ul>
        </div>
      </div>
    	<div class="col-md-4"> 
        <row>
          <div class="card">
            <a class="card-link" id ="ParkLink" href="{{url_for('park_instance', idnum = campground_instance.park_fk)}}"></a>
            <img class="card-img-top img-fluid" id="ParkImg" alt="Image of nearby state park">
            <script>
              $.get( "{{url_for('api_park_details', id=campground_instance.park_fk)}}", function( data ) {
                 $("#ParkLink").html("<strong>Explore " + data.Details.Name + "</strong>");
                 $('#ParkImg').attr('src', data.Details["Photo URL"]);
                 }, "json" );
            </script>
            <p> </p>
          </div>
        </row>  

        <row>
          <div class="card">
                <a href="{{ url_for('state_instance', name = campground_instance.state_fk) }}" class="card-link" id ="StateLink"></a>
                <img class="card-img-top img-fluid" id="StateImg" alt="Image of {{campground_instance.state_fk}}">
                <div class="card-block">
                  <p class="card-text" id="StateDescription"></p>
                </div>
                <script>
                  $.get( "{{url_for('api_state_detail', name=campground_instance.state_fk)}}", function( data ) {
                     $("#StateLink").html("<strong>Explore " + data.Details.Name + "</strong>");
                     $('#StateImg').attr('src', data.Details["Map URL"]);
                     var trimmedString = data.Details.Description.substr(0, 300);
                    //re-trim if we are in the middle of a word
                    trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" ")))
                     $("#StateDescription").html(trimmedString + "... " + "<a href=\{{ url_for('state_instance', name = campground_instance.state_fk) }}>Continue Reading</a>");
                     }, "json" );
                </script>
          </div>
        </row>  
      </div>
      </div> 
    </div> 
  </body>
</html>
