<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/style/events.css" media="screen"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>
  
  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="index.html">Home</a></li>
      <li role="presentation"><a href="parks.html">Parks</a></li>
      <li role="presentation"><a href="campgrounds.html">Campgrounds</a></li>
      <li role="presentation"><a href="states.html">States</a></li>
      <li role="presentation" class="active"><a href="events.html">Events</a></li>  
      <li role="presentation"><a href="about.html">About</a></li>        
    </ul>
    
    <div class="title">
      <h1>Events</h1>
    </div> <!-- end of title -->

 <div class="row">
      <div class="col-md-1"></div>  
      <div class="col-md-10">
        <div class="table" data-example-id="simple-responsive-table"
          <div class ="table-responsive">
            <!-- Table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Park</th>
                  <th>Activity</th> <!--in place of category, if you think category sounds better feel free to replace!-->
                  <th>Date/Time</th>                  
                  <th>Locations</th>
                  <th>Contact Info</th>
                  <th>Website</th>                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Activity 1</th>
                  <td>singing</td>
                  <td>10/24, 8:00pm - 10:00 pm</td>                  
                  <td>1234 Somewhere Rd. Austin, TX 78705</td>
                  <td>  
                    <ul>
                      <li>email: someemail@gmail.com</li>
                      <li>phone: someemail@gmail.com</li>
                    </ul>
                  </td>                    
                  <td> <a href='#'>Website link</td>
                </tr>

                <tr>
                  <th scope="row">Activity 1</th>
                  <td>singing</td>
                  <td>10/24, 8:00pm - 10:00 pm</td>                  
                  <td>1234 Somewhere Rd. Austin, TX 78705</td>
                  <td>  
                    <ul>
                      <li>email: someemail@gmail.com</li>
                      <li>phone: someemail@gmail.com</li>
                    </ul>
                  </td>                    
                  <td> <a href='#'>Website link</td>
                </tr>
                
                <tr>
                  <th scope="row">Activity 1</th>
                  <td>singing</td>
                  <td>10/24, 8:00pm - 10:00 pm</td>                  
                  <td>1234 Somewhere Rd. Austin, TX 78705</td>
                  <td>  
                    <ul>
                      <li>email: someemail@gmail.com</li>
                      <li>phone: someemail@gmail.com</li>
                    </ul> 
                  </td>                   
                  <td> <a href='#'>Website link</td>
                </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




  </body>
</html>