<!DOCTYPE html>
<html lang="en-us" ng-app>
  <head>
    <meta charset="UTF-8">
    <title>{{ event_instance.org_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../static/style/instancePage.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../static/style/eventInstance.css" media="screen">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
   <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
          <ul class="nav nav-pills">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('parks') }}">Parks</a></li>
            <li><a href="{{ url_for('campgrounds') }}">Campgrounds</a></li>
            <li><a href="{{ url_for('states') }}">States</a></li>
            <li class="active"><a href="{{ url_for('events') }}">Events</a></li> 
            <li><a href="{{ url_for('about') }}">About</a></li>
            <form class="navbar-form navbar-right" action="{{url_for('orSearch')}}" onsubmit="{{url_for('orSearch')}}" role="search">
              <div class="input-group">
                <input id="search_term" type="text" class="form-control" name="search" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class=" glyphicon glyphicon-search"></span></button>
                </span>
              </div><!-- /input-group -->
            </form> 
            <form class="navbar-form navbar-right" action="/search/" method="GET" onsubmit="return search()" role="search">
              <div class="input-group">
                <input id="search_term" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class=" glyphicon glyphicon-search"></span></button>
                </span>
              </div><!-- /input-group -->
            </form>
          </ul>
        </div>
      </div>
    </nav>
       
    <div class="title">
      <h1><span>{{event_instance.org_name}}</span></h1>
    </div>

    <div class="row">
      <div class="col-md-2"></div>              
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="{{event_instance.pic_url}}" alt="provided event photo">
<!--           <div class="card-block">
            <p class="card-text">"description"</p>
          </div> -->
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Categories: {{event_instance.topics}}</li>
            <li class="list-group-item">Dates: {{event_instance.start_date}} - {{event_instance.end_date}}</li>
            <li class="list-group-item">Organization: {{event_instance.org_name}}</li>
            <li class="list-group-item">Phone: {{event_instance.contact_phone_num}}</li>
            <li class="list-group-item">City: {{event_instance.city}}</li>
            <li class="list-group-item">Zipcode: {{event_instance.zipcode}}</li>
            <li class="list-group-item">State: <a href="{{ url_for('state_instance', name = event_instance.state_fk) }}">{{event_instance.state_fk}}</a></li>
          </ul>
        </div>       
        <iframe width="290" height="188" frameborder="0" style="border:0" src="http://www.google.com/maps/embed/v1/view?key=AIzaSyA83s4AwWOSHAQei8mGfEZEUUO0eOEYB38&center={{event_instance.latitude}},{{event_instance.longitude}}&zoom=12" allowfullscreen="">
        </iframe>

      </div> 
      <div class="col-md-4"> 
        <row>
          <div class="card">
            <a class="card-link" id ="ParkLink" href="{{url_for('park_instance', idnum = event_instance.park_fk)}}"></a>
            <img class="card-img-top img-fluid" id="ParkImg" alt="Image of nearby state park">
            <script>
              $.get( "{{url_for('api_park_details', id=event_instance.park_fk)}}", function( data ) {
                 $("#ParkLink").html("<strong>Explore " + data.Details.Name + "</strong>");
                 $('#ParkImg').attr('src', data.Details["Photo URL"]);
                 }, "json" );
            </script>
            <p> </p>
          </div>
        </row>  

        <row>
          <div class="card">
            <a href="{{ url_for('state_instance', name = event_instance.state_fk) }}" class="card-link" id ="StateLink"></a>
            <img class="card-img-top img-fluid" id="StateImg" alt="Image of {{event_instance.state_fk}}">
            <div class="card-block">
              <p class="card-text" id="StateDescription"></p>
            </div>
            <script>
              $.get( "{{url_for('api_state_detail', name=event_instance.state_fk)}}", function( data ) {
                 $("#StateLink").html("<strong>Explore " + data.Details.Name + "</strong>");
                 $('#StateImg').attr('src', data.Details["Map URL"]);
                 var trimmedString = data.Details.Description.substr(0, 300);
                //re-trim if we are in the middle of a word
                trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" ")))
                 $("#StateDescription").html(trimmedString + "... " + "<a href=\{{ url_for('state_instance', name = event_instance.state_fk) }}>Continue Reading</a>");
                 }, "json" );
            </script>
          </div>
        </row>  
      </div> 
    </div> 
  </body>
</html>
