<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/style/parks.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="{{ url_for('index') }}">Home</a></li>
      <li role="presentation" class="active"><a href="{{ url_for('parks') }}">Parks</a></li>
      <li role="presentation"><a href="campgrounds.html">Campgrounds</a></li>
      <li role="presentation"><a href="{{ url_for('states') }}">States</a></li>
      <li role="presentation"><a href="events.html">Events</a></li> 
      <li role="presentation"><a href="about.html">About</a></li>         
    </ul>

    <div class = "col-md-12">
      <div class="title">
        <h1>Parks</h1>
      </div> <!-- end of title -->
    </div> 
  
    <div class="row">
      <div class="col-md-1"></div>  
      <div class="col-md-10">
        <div class="table" data-example-id="simple-responsive-table"
          <div class ="table-responsive">
            <!-- Table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Park</th>
                  <th>Price</th>
                  <th>Hours</th>
                  <th>Website</th>
                  <th>Events</th>
                  <th>Campground</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><a href="{{ url_for('zilker') }}">Zilker Metropolitan Park</th>
                  <td>$0</td>
                  <td>5am - 10pm</td>
                  <td>
                    <a href = "http://austintexas.gov/department/zilker-metropolitan-park">http://austintexas.gov/department/zilker-metropolitan-park</a>
                  </td>
                  <td>
                    <ul>
                      <li>Trail of Lights</li>
                      <li>Austin City Limits</li>
                    </ul>
                  </td>
                  <td>No camping</td>
                </tr>
                <tr>
                  <th scope="row"><a href="{{ url_for('deathValley') }}">Death Valley National Park</th>
                  <td>$10</td>
                  <td>5am - 10pm</td>
                  <td>
                    <a href="https://www.nps.gov/deva/index.htm">https://www.nps.gov/deva/index.htm</a>
                  </td>
                  <td>No Upcoming Events</td>
                  <td>No camping</td>
                </tr>
                <tr>
                  <th scope="row"><a href="{{ url_for('bigBend') }}">Big Bend National Park</th>
                  <td>$12</td>
                  <td>All Day</td>
                  <td>
                    <a href="https://www.nps.gov/bibe/index.htm">https://www.nps.gov/bibe/index.htm</a>
                  </td>
                  <td>Our International Neighbors</td>
                  <td>
                    <ul>
                      <li>Chisos Basin Campground</li>
                      <li>Cottonwood Campground</li>
                      <li>Rio Grand Village Campground</li>
                      <li>Chisos Mountains Lodge</li>
                    </ul>
              </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
