<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen">  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
    <link rel="stylesheet" type="text/css" href="../static/style/search.css" media="screen">    

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">    

    <!-- basic js files -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- js files for table sorting and pagination-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://github.com/sdeering/jquery-quick-pagination/blob/master/js/jquery.quick.pagination.min.js"></script>
    <!-- css for table pagination -->
    <script rel="stylesheet" type="text/css" href="https://github.com/sdeering/jquery-quick-pagination/blob/master/css/styles.css"></script>
  </head>

  <body>
   <nav id="search_nav" class="navbar navbar-default">
   <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
          <ul class="nav nav-pills">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('parks') }}">Parks</a></li>
            <li><a href="{{ url_for('campgrounds') }}">Campgrounds</a></li>
            <li><a href="{{ url_for('states') }}">States</a></li>
            <li><a href="{{ url_for('events') }}">Events</a></li> 
            <li><a href="{{ url_for('about') }}">About</a></li>
            <form class="navbar-form navbar-right" action="{{url_for('orSearch')}}" onsubmit="{{url_for('orSearch')}}" role="search">
              <div class="input-group">
                <input id="search_term" type="text" class="form-control" name="search" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class=" glyphicon glyphicon-search"></span></button>
                </span>
              </div><!-- /input-group -->
            </form>
          </ul>
        </div>
      </div>
    </nav>

    <div class="title">
      <h1>Search results for {{search}}</h1>
      <p> 
    </div> <!-- end of title -->    

    <div class="title">
      <h2>Parks</h2>
    </div> <!-- end of title -->

    <ul id="search_results" class="list-unstyled">
      {% for park in parksorlist %}
      <li>
        <div class="row">
          <h3>OR</h3>
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p><b>Park Name: </b><a href= "{{ url_for('park_instance', idnum = park.idnum) }}">{{park.name}}</a></p>
            <p><b>Latitude: </b>{{park.latitude}}</p>  
            <p><b>Longitude: </b>{{park.longitude}}</p>  
            <p><b>Address: </b>{{park.address}}</p>
            <p><b>Phone: </b>{{park.phone}}</p> 
            <p><b>Rating: </b>{{park.rating}}</p>                 
            <p><b>Website: </b><a href= "{{park.website}}">{{park.website}}</a></p>
            <p><b>Zipcode: </b>{{park.zipcode}}</p>  
            <p><b>Photo URL: </b><a href="{{park.photo_url}}"> {{park.photo_url}}</a></p>        
            <p><b>Region: </b>{{park.zipregion}}</p>          
            <p><b>State: </b>{{park.state_fk}}</p> 
          </div> 
        </div> <!-- end of row -->
      </li>
      <br/>      
      {% endfor %}    

      {% for park in parksandlist %}
      <li>
        <div class="row">
          <h3>AND</h3>
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p><b>Park Name: </b><a href= "{{ url_for('park_instance', idnum = park.idnum) }}">{{park.name}}</a></p>
            <p><b>Latitude: </b>{{park.latitude}}</p>  
            <p><b>Longitude: </b>{{park.longitude}}</p>  
            <p><b>Address: </b>{{park.address}}</p>
            <p><b>Phone: </b>{{park.phone}}</p> 
            <p><b>Rating: </b>{{park.rating}}</p>                 
            <p><b>Website: </b><a href= "{{park.website}}">{{park.website}}</a></p>
            <p><b>Zipcode: </b>{{park.zipcode}}</p>  
            <p><b>Photo URL: </b><a href="{{park.photo_url}}"> {{park.photo_url}}</a></p>        
            <p><b>Region: </b>{{park.zipregion}}</p>          
            <p><b>State: </b>{{park.state_fk}}</p> 
          </div> 
        </div> <!-- end of row -->
      </li>
      <br/>      
      {% endfor %}           

      <div class="title">
        <h2>States</h2>
      </div> <!-- end of title -->
      {% for state in statesorlist %}
      <li>
        <div class="row">
          <h3>OR</h3>
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p><b>State: </b><a href="{{ url_for('state_instance', name = state.name) }}">{{state.name}}</a></p>
            <p><b>Highest Point: </b>{{state.highest_point}}</p>
            <p><b>Total Area (sq mi): </b>{{state.total_area}}</p>
            <p><b>Population: </b>{{state.population}}</p>
            <p><b>Explore A Park: </b><a href="{{ url_for('park_instance', idnum = state.parks_rel.first().idnum) }}"> {{ state.parks_rel.first().name}} </a></p>
            <p><b>Explore An Event: </b><a href="{{ url_for('event_instance', idnum = state.events_rel.first().idnum) }}"> {{state.events_rel.first().org_name}} </a></p>
          </div>
        </div>
      </li>
      <br/>
      {% endfor %}

      {% for state in statesandlist %}
      <li>
        <div class="row">
          <h3>AND</h3>
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p><b>State: </b><a href="{{ url_for('state_instance', name = state.name) }}">{{state.name}}</a></p>
            <p><b>Highest Point: </b>{{state.highest_point}}</p>
            <p><b>Total Area (sq mi): </b>{{state.total_area}}</p>
            <p><b>Population: </b>{{state.population}}</p>
            <p><b>Explore A Park: </b><a href="{{ url_for('park_instance', idnum = state.parks_rel.first().idnum) }}"> {{ state.parks_rel.first().name}} </a></p>
            <p><b>Explore An Event: </b><a href="{{ url_for('event_instance', idnum = state.events_rel.first().idnum) }}"> {{state.events_rel.first().org_name}} </a></p>
          </div>
        </div>
      </li>
      <br/>
      {% endfor %}


    <div class="title">
      <h2>Events</h2>
    </div> <!-- end of title -->

    {% for event in eventsorlist %}
    <li>
      <div class="row">
        <h3>OR</h3>
        <div class="col-md-1"></div>  
        <div class="col-md-10">
          <p><b>Event: </b><a href="{{ url_for('event_instance', idnum = event.idnum) }}">{{event.org_name}}</a></p>
          <p><b>Category: </b>{{event.topics}}</p>
          <p><b>Start Date: </b>{{event.start_date}}</p>
          <p><b>End Date: </b>{{event.end_date}}</p>
          <p><b>Phone: </b>{{event.contact_phone_num}}</p>
          <p><b>Nearby State Park: </b><a = href="{{ url_for('park_instance', idnum = event.Park.idnum)}}"></a></p>
          <p><b>Zipcode: </b>{{event.zipcode}}</p>
          <p><b>City: </b>{{event.city}}</p>
          <p><b>State: </b><a href="{{ url_for('state_instance', name=event.state_fk)}}">{{event.state_fk}}</a></p>
        </div>
      </div>
    </li>
    <br/>
    {% endfor %}

    {% for event in eventsandlist %}
    <li>
      <div class="row">
        <h3>AND</h3>
        <div class="col-md-1"></div>  
        <div class="col-md-10">
          <p><b>Event: </b><a href="{{ url_for('event_instance', idnum = event.idnum) }}">{{event.org_name}}</a></p>
          <p><b>Category: </b>{{event.topics}}</p>
          <p><b>Start Date: </b>{{event.start_date}}</p>
          <p><b>End Date: </b>{{event.end_date}}</p>
          <p><b>Phone: </b>{{event.contact_phone_num}}</p>
          <p><b>Nearby State Park: </b><a = href="{{ url_for('park_instance', idnum = event.Park.idnum)}}"></a></p>
          <p><b>Zipcode: </b>{{event.zipcode}}</p>
          <p><b>City: </b>{{event.city}}</p>
          <p><b>State: </b><a href="{{ url_for('state_instance', name=event.state_fk)}}">{{event.state_fk}}</a></p>
        </div>
      </div>
    </li>
    <br/>
    {% endfor %}


    <div class="title">
      <h2>Campgrounds</h2>
    </div> <!-- end of title -->

    {% for campground in campgroundsorlist %}
    <li>
    <div class="row">
      <h3>OR</h3>
      <div class="col-md-1"></div>  
      <div class="col-md-10">
        <p><b>Campground: </b><a href="{{ url_for('campground_instance', idnum = campground.idnum) }}">{{campground.name}}</a></p>
        <p><b>Phone: </b>{{campground.phone}}</p>
        <p><b>Nearby Park: </b><a href="{{ url_for('park_instance', idnum = campground.Park.idnum) }}">{{campground.Park.name}}</a></p>
        <p><b>Latitude: </b>{{campground.latitude}}</p>
        <p><b>Longitude: </b>{{campground.longitude}}</p>
        <p><b>Zipcode: </b>{{campground.zipcode}}</p>
        <p><b>State: </b> <a href="{{ url_for('state_instance', name = campground.state_fk) }}">{{campground.state_fk}}</a></p>    
      </div>
    </div>
    </li>
    <br/>  
    {% endfor %}

    {% for campground in campgroundsandlist %}
    <li>
    <div class="row">
      <h3>AND</h3>
      <div class="col-md-1"></div>  
      <div class="col-md-10">
        <p><b>Campground: </b><a href="{{ url_for('campground_instance', idnum = campground.idnum) }}">{{campground.name}}</a></p>
        <p><b>Phone: </b>{{campground.phone}}</p>
        <p><b>Nearby Park: </b><a href="{{ url_for('park_instance', idnum = campground.Park.idnum) }}">{{campground.Park.name}}</a></p>
        <p><b>Latitude: </b>{{campground.latitude}}</p>
        <p><b>Longitude: </b>{{campground.longitude}}</p>
        <p><b>Zipcode: </b>{{campground.zipcode}}</p>
        <p><b>State: </b> <a href="{{ url_for('state_instance', name = campground.state_fk) }}">{{campground.state_fk}}</a></p>    
      </div>
    </div>
    </li>
    <br/>  
    {% endfor %}
  </ul>


    <script type="text/javascript">
     $(document).ready(function(){
       var search = "{{search}}";
       for (value of search.split(" "))
       {
         var re = new RegExp('(' + value + ')', 'ig');
         $('#search_results').html( $('#search_results').html().replace(re, "<mark>$1</mark>"));
       }      
     });
     $("ul.list-unstyled").quickPagination();
   </script>

  </body>
</html>
