<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>States</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css" media="screen">
    <!-- basic js files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- js files for table sorting and pagination-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>   
    <!-- css for table pagination -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen">  
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen"> 
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
   <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
          <ul class="nav nav-pills">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('parks') }}">Parks</a></li>
            <li><a href="{{ url_for('campgrounds') }}">Campgrounds</a></li>
            <li class="active"><a href="{{ url_for('states') }}">States</a></li>
            <li><a href="{{ url_for('events') }}">Events</a></li> 
            <li><a href="{{ url_for('about') }}">About</a></li>

            <form class="navbar-form navbar-right" action="{{url_for('orSearch')}}" onsubmit="{{url_for('orSearch')}}" role="search">
              <div class="input-group">
                <input id="search_term" type="text" class="form-control" name="search" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class=" glyphicon glyphicon-search"></span></button>
                </span>
              </div><!-- /input-group -->
            </form> 
          </ul>
        </div>
      </div>
    </nav>

    <div class="title">
      <h1>States</h1>
    </div> <!-- end of title -->

    <div class="col-md-1"></div>

    <div class="row">
      <div class="col-md-10">
        <div class="table" data-example-id="simple-responsive-table"
          <div class ="table-responsive">
            <!-- Table -->
            <table class="table table-striped sortable" id="myTable">
              <thead>
                <tr>
                  <th>State</th>
                  <th>Highest Point</th>
                  <th>Total Area (sq mi)</th>
                  <th>Population</th>
                  <th>Explore A Park</th>
                  <th>Explore An Event</th>
                </tr>
              </thead>
              <tbody>
              {% for state in states %}
                <tr>
                  <th scope="row"><a href="{{ url_for('state_instance', name = state.name) }}">{{state.name}}</a></th> 
                  <td>{{state.highest_point}}</td>
                  <td>{{state.total_area}}</td>
                  <td>{{state.population}}</td>
                  <th><a href="{{ url_for('park_instance', idnum = state.parks_rel.first().idnum) }}"> {{ state.parks_rel.first().name}} </a></th>
                  <th scope="row"><a href="{{ url_for('event_instance', idnum = state.events_rel.first().idnum) }}"> {{state.events_rel.first().org_name}} </a></th>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#myTable').DataTable(); 
      });
    </script>
  </body>
</html>
