<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>SWEet Outdoors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/style/states.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script scr="states.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="{{ url_for('index') }}">Home</a></li>
      <li role="presentation"><a href="{{ url_for('parks') }}">Parks</a></li>
      <li role="presentation"><a href="campgrounds.html">Campgrounds</a></li>
      <li role="presentation" class="active"><a href="{{ url_for('states') }}">States</a></li>
      <li role="presentation"><a href="events.html">Events</a></li> 
      <li role="presentation"><a href="about.html">About</a></li>         
    </ul>

    <div class = "col-md-12">
      <div class="title">
        <h1>States</h1>
      </div> <!-- end of title -->
    </div> 

    <div class="col-md-1"></div>

    <div class="row">
      <div class="col-md-10">
        <div class="table" data-example-id="simple-responsive-table"
          <div class ="table-responsive">
            <!-- Table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>State</th>
                  <th>Highest Point</th>
                  <th>Population</th>
                  <th>Total Area</th>
                  <th>Biggest Park</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><a href="{{ url_for('texas') }}">Texas</a></th>
                  <td>8,751 ft</td>
                  <td>27,469,114</td>
                  <td>268,581</td>
                  <th><a href="{{ url_for('bigBend') }}">Big Bend</a></th>
                </tr>
                <tr>
                  <th scope="row"><a href="{{ url_for('california') }}">California</a></td>
                  <td>14,505 ft</td>
                  <td>39,144,818</td>
                  <td>163,696</td>
                  <th><a href="{{ url_for('bigBend') }}">Zilker</a></th>
                </tr>
                <tr>
                  <th scope="row"><a href="{{ url_for('florida') }}">Florida</a></th>
                  <td>345 ft</td>
                  <td>20,271,272</td>
                  <td>65,755</td>
                  <th><a href="{{ url_for('bigBend') }}">Death Valley</a></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
